.div-breadcrumb
{
    margin: 0px 0px 10px 0px;
    padding: 0;
    background: #000000 url(../images/bg-title.png) top left repeat-x;
    height: 32px;
    background-position: 0px -10px;
}

.div-breadcrumb .breadcrumb
{
    padding: 8px 15px 0px 15px;
    margin: 0px;
    list-style: none;
    background-color: white;
}
.div-breadcrumb .breadcrumb>li+li:before 
{
    content: ">\00a0";
    padding: 0 5px;
    color: #FF6E15;
}
.div-breadcrumb .breadcrumb>li a
{
    color: #666666;
    font-family: Tahoma;
    font-size: 10pt;
    font-weight: bold
}

.div-breadcrumb .breadcrumb>li.active
{
    color: #FF6E15;
    font-family: Tahoma;
    font-size: 10pt;
    font-weight: bold   
}
