#left-sidebar
{
    padding: 0px !important;
}
/*Menu left*/
#left-sidebar #menu_left,
#left-sidebar #menu_left ul,
#left-sidebar #menu_left ul li,
#left-sidebar #menu_left ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#left-sidebar #menu_left ul ul {
    display: none;
}
#left-sidebar .align-right {
    float: right;
}

#left-sidebar #menu_left ul ul li a {
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
}
#left-sidebar #menu_left ul ul li.open > a,
#left-sidebar #menu_left ul ul li.active > a {
    background: #424852;
    color: #ffffff;
}
#left-sidebar #menu_left ul ul li:first-child > a {
    box-shadow: none;
}


#left-sidebar #menu_left ul ul li.active > a::after,
#left-sidebar #menu_left ul ul li.open > a::after {
    border-color: #ffffff;
}
#left-sidebar #menu_left ul li{
    margin-top: 10px;
    background: #f6f7f9;
    border: #cccccc solid 2px !important;
}
#left-sidebar #menu_left ul li a{
    height: 25px;
    border-left: #2b699a solid 5px !important;
    padding: 0px !important;
    border: 0px !important;
    width: 100%;
    background: #f6f7f9 !important;
    border-left: #2b699a 5px solid !important;
    padding-right: 5px !important;
}
#left-sidebar #menu_left ul li a span{
    width: 77%;
    float: left;
    background: #caebfa !important;
    height: 25px;
    padding: 0px;
    margin: 0px;
    padding-left: 7px;
    font-size: 12px;
    font-weight: bold !important;
    color: #000;
    line-height: 25px;
}
#left-sidebar #menu_left ul li a img{
    padding: 0px;
    margin: 0px;
}
#left-sidebar #menu_left ul li a span.icon_menu_up{
    background: url(../images/icon_up_menu_left.png) no-repeat !important;
    width: 10px;
    height: 10px;
    float: right;
    margin-top: 7px;
}
#left-sidebar #menu_left ul li a span.icon_menu_down{
    background: url(../images/icon_down_menu_left.png) no-repeat !important;
    width: 10px;
    height: 10px;
    float: right;
    margin-top: 7px;
}
#left-sidebar #menu_left ul li ul li
{
    border: 0px !important;
    background: #f6f7fb !important ;
    margin: 0px;
    padding: 0px;
    height: 27px !important;
    line-height: 25px !important;
}
#left-sidebar #menu_left ul li ul li a{
    border: 0px !important;
    background: #f6f7fb url(../images/icon_sub_menu_left.png) no-repeat !important;
    padding-left: 15px !important;
    height: 15px !important;
    font-size: 12px;
    font-weight: bold !important;
    color: #2569d8;
    line-height: 15px;
    font-weight: inherit !important;
}
#left-sidebar #menu_left ul li ul{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}
/*End menu left*/
/*Bock left*/
#left-sidebar .block_left{
    margin-top: 10px;
}
#left-sidebar .block_left ul li {
    margin-top: 10px;
}